[
  {
    title: "Data Wrangling"
    paths: [
      "/Users/z0027l4/Repos/mips/dataTools/dataWrangling"
    ]
  }
  {
    title: "Ad Paper"
    paths: [
      "/Users/z0027l4/Repos/mips/ad_paper"
    ]
  }
]
